.searchBarContainer {
    width: 100%;
    margin-top: 0;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0000009c;
/*     position: fixed; */
    z-index: 9999;
    box-shadow: 0 0 10px #fafafa2f, 0 0 4px #cfcfcf70, 0 0 20px #ffffff70;
}


.search_input {
    padding: .5em;
    border: none;
    border-radius: 10px 0 0 10px;
    color: white;
}

.search_button {
    margin: 0;
    padding: .5em;
    background-color: #b60a0a;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    text-transform: uppercase;
    font-weight: lighter;
    cursor:pointer;
}

.filters {
    padding: 1em;
}

.filters label {
    font-size: medium;
    text-transform: capitalize;
    font-weight: lighter;
}

.filters select {
    padding: .5em;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}